node_modules
/build
/.git
/.gitignore
.dockerignore
Dockerfile
README.md

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# Miscellaneous
*.log
*.swp
.DS_Store
Thumbs.db

db/*.json